@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  animation: 4s changeImage infinite linear;
}

@keyframes changeImage {
  0% {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/src/Images/slide3.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  50% {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/src/Images/wide\ \(8\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  100% {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/src/Images/slide3.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
